# Working with APIs

## 1. Retrieving the Bitcoin Price Index as JSON from the Coindesk API
<a href = "https://www.coindesk.com/coindesk-api"> Coindesk API Reference </a>

#### a. Import the Libraries

In [1]:
import requests
import json
import pandas as pd

#### b. Use the Coindesk API to get the current price data as a JSON

In [2]:
url=('https://api.coindesk.com/v1/bpi/currentprice.json')

In [3]:
# url2=('https://api.coindesk.com/v1/bpi/historical/close.json?start=2020-01-01&end=2020-12-31')
# r2=requests.get(url2)
# r2.status_code
response=requests.get(url)

In [4]:
response

In [5]:
print(type(response))

<class 'requests.models.Response'>

#### c. Inspect the retrieved data

In [6]:
parsed = response.json()

In [7]:
parsed

{'time': {'updated': 'Oct 5, 2021 13:37:00 UTC',
  'updatedISO': '2021-10-05T13:37:00+00:00',
  'updateduk': 'Oct 5, 2021 at 14:37 BST'},
 'disclaimer': 'This data was produced from the CoinDesk Bitcoin Price Index (USD). Non-USD currency data converted using hourly conversion rate from openexchangerates.org',
 'chartName': 'Bitcoin',
 'bpi': {'USD': {'code': 'USD',
   'symbol': '&#36;',
   'rate': '50,144.9750',
   'description': 'United States Dollar',
   'rate_float': 50144.975},
  'GBP': {'code': 'GBP',
   'symbol': '&pound;',
   'rate': '36,808.5679',
   'description': 'British Pound Sterling',
   'rate_float': 36808.5679},
  'EUR': {'code': 'EUR',
   'symbol': '&euro;',
   'rate': '43,227.4256',
   'description': 'Euro',
   'rate_float': 43227.4256}}}

In [8]:
parsed['bpi']

{'USD': {'code': 'USD',
  'symbol': '&#36;',
  'rate': '50,144.9750',
  'description': 'United States Dollar',
  'rate_float': 50144.975},
 'GBP': {'code': 'GBP',
  'symbol': '&pound;',
  'rate': '36,808.5679',
  'description': 'British Pound Sterling',
  'rate_float': 36808.5679},
 'EUR': {'code': 'EUR',
  'symbol': '&euro;',
  'rate': '43,227.4256',
  'description': 'Euro',
  'rate_float': 43227.4256}}

#### d. Print out the time the price was last updated

In [9]:
parsed['time']

{'updated': 'Oct 5, 2021 13:37:00 UTC',
 'updatedISO': '2021-10-05T13:37:00+00:00',
 'updateduk': 'Oct 5, 2021 at 14:37 BST'}

#### e. Place the results of the current price in a Dataframe and show the dataframe

In [10]:
jsonfile = pd.DataFrame(parsed["bpi"])

In [11]:
jsonfile.head()

                              USD                     GBP          EUR
code                          USD                     GBP          EUR
symbol                      &#36;                 &pound;       &euro;
rate                  50,144.9750             36,808.5679  43,227.4256
description  United States Dollar  British Pound Sterling         Euro
rate_float              50144.975              36808.5679   43227.4256

___

## 2. Retrieving data from Quandl using the Quandl Python Library
##### Retrieve a table showing Eggplant Production in the Philippines from 2010 onwards using the UN Food and Agriculture Data Product on Quandl

<a href='https://www.quandl.com/data/UFAO/CR_AUBG_PHL-Eggplant-Aubergine-Or-Brinjal-Production-in-Philippines'>Link</a>

1. Sign up for a free Quandl account (https://www.quandl.com/sign-up)
2. Retrieve your API key and keep it accessible (https://help.quandl.com/article/320-where-can-i-find-my-api-key)


<i/> Choose 'For Personal Use'

#### a. Import the Libraries

In [12]:
import requests
import pandas as pd
import quandl

#### b. Setup your Quandl API Key

In [13]:
#Access stored credentials
creds = pd.read_json('../Resources/quandl_chris.json', typ='series')
api_key = creds['api_key']
quandl.ApiConfig.api_key =  api_key

#### c. Use the get function in the quandl python API documentation to retrieve the dataframe

In [14]:
data=quandl.get("UFAO/CR_AUBG_PHL", authtoken=api_key, start_date="1961-12-31", end_date="2021-12-31")

In [15]:
data

            Area harvested - ha  Yield - hg/ha  Production - tonnes
Date
1961-12-31              23000.0        20000.0              46000.0
1962-12-31              23000.0        23913.0              55000.0
1963-12-31              19700.0        24264.0              47800.0
1964-12-31              18020.0        24547.0              44234.0
1965-12-31              16520.0        28291.0              46737.0
1966-12-31              17520.0        29596.0              51852.0
1967-12-31              17440.0        30853.0              53808.0
1968-12-31              17070.0        36666.0              62589.0
1969-12-31              17450.0        33806.0              58991.0
1970-12-31              17680.0        38800.0              68599.0
1971-12-31              15780.0        40342.0              63659.0
1972-12-31              19100.0        33928.0              64802.0
1973-12-31              19290.0        41160.0              79398.0
1974-12-31              17140.0        51865.0              88897.0
1975-12-31              16820.0        49551.0              83345.0
1976-12-31              16220.0        50785.0              82374.0
1977-12-31              16830.0        51620.0              86876.0
1978-12-31              17180.0        53722.0              92295.0
1979-12-31              16970.0        61268.0             103971.0
1980-12-31              17230.0        64370.0             110910.0
1981-12-31              15530.0        77640.0             120575.0
1982-12-31              14770.0        85010.0             125560.0
1983-12-31              14243.0        78679.0             112063.0
1984-12-31              14693.0        75109.0             110358.0
1985-12-31              14396.0        71321.0             102673.0
1986-12-31              14478.0        72212.0             104548.0
1987-12-31              14793.0        72785.0             107671.0
1988-12-31              15275.0        71883.0             109802.0
1989-12-31              16725.0        66713.0             111578.0
1990-12-31              16425.0        68617.0             112704.0
1991-12-31              14465.0        71925.0             104040.0
1992-12-31              15535.0        71098.0             110451.0
1993-12-31              17416.0        64120.0             111672.0
1994-12-31              17762.0        69514.0             123471.0
1995-12-31              17643.0        74082.0             130702.0
1996-12-31              18074.0        87199.0             157603.0
1997-12-31              18954.0       102898.0             195032.0
1998-12-31              16102.0       101747.0             163833.0
1999-12-31              19386.0        82402.0             159744.0
2000-12-31              19949.0        83285.0             166146.0
2001-12-31              20422.0        83155.0             169819.0
2002-12-31              20813.0        86321.0             179659.0
2003-12-31              20984.0        84346.0             176991.0
2004-12-31              21068.0        86744.0             182753.0
2005-12-31              21233.0        88444.0             187793.0
2006-12-31              20901.0        91819.0             191911.0
2007-12-31              21613.0        97236.0             210156.0
2008-12-31              21299.0        93703.0             199579.0
2009-12-31              21170.0        94918.0             200942.0
2010-12-31              21423.0        97205.0             208242.0
2011-12-31              21377.0        97298.0             207994.0
2012-12-31              21485.0        98620.0             211885.0
2013-12-31              21239.0       103541.0             219911.0
2014-12-31              21159.0       106611.0             225579.0
2015-12-31              21008.0       110845.0             232864.0
2016-12-31              21038.0       111999.0             235626.0
2017-12-31              21446.0       112798.0             241901.0
2018-12-31              21651.0       113083.0             244838.0

#### d. Filter for the said years

In [16]:
data.loc['2010-12-31':'2021-12-31']

            Area harvested - ha  Yield - hg/ha  Production - tonnes
Date
2010-12-31              21423.0        97205.0             208242.0
2011-12-31              21377.0        97298.0             207994.0
2012-12-31              21485.0        98620.0             211885.0
2013-12-31              21239.0       103541.0             219911.0
2014-12-31              21159.0       106611.0             225579.0
2015-12-31              21008.0       110845.0             232864.0
2016-12-31              21038.0       111999.0             235626.0
2017-12-31              21446.0       112798.0             241901.0
2018-12-31              21651.0       113083.0             244838.0

_________

## 3. Retrieving Browsers Used to Access Data.gov 
##### Retrieve the list of browsers on <a href='https://www.data.gov/'>Data.gov</a> by accessing the following request:


<a href="https://analytics.usa.gov/data/live/browsers.json"> https://analytics.usa.gov/data/live/browsers.json </a>

#### 1. Import libraries

In [17]:
import requests
import pandas as pd

#### 2. Request for the data

In [18]:
url="https://analytics.usa.gov/data/live/browsers.json"

In [19]:
response = requests.get(url)

In [20]:
response

#### 3. Print out the results in raw form

In [21]:
results = response.json()

In [22]:
for k, v in results.items():
    print(k,':',v, '\n')

name : browsers

sampling : {'containsSampledData': False}

query : {'start-date': '90daysAgo', 'end-date': 'yesterday', 'dimensions': 'ga:date,ga:browser', 'metrics': ['ga:sessions'], 'sort': ['ga:date', '-ga:sessions'], 'filters': 'ga:sessions>100', 'start-index': 1, 'max-results': 10000, 'samplingLevel': 'HIGHER_PRECISION'}

meta : {'name': 'Browsers', 'description': '90 days of visits broken down by browser for all sites. (>100 sessions)'}

totals : {'visits': 5220257397, 'browser': {'Chrome': 2525542851, 'Safari': 1868359206, 'Edge': 309021773, 'Firefox': 152347280, 'Samsung Internet': 112892684, 'Internet Explorer': 79151679, 'Safari (in-app)': 70607293, 'Android Webview': 55374793, 'Opera': 16425807, 'Amazon Silk': 9737738, 'Mercari_d': 4876124, 'UC Browser': 1972952, 'Mozilla Compatible Agent': 1979588, 'Opera Mini': 1049616, 'TE_IEP': 1159784, 'YaBrowser': 3901423, 'Android Browser': 355077, 'Coc Coc': 624301, 'ELB-HealthChecker': 338277, '(not set)': 126415, 'ThousandEyes': 180293, 'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.17.0': 48009, 'SeaMonkey': 113229, 'Voxgov': 112800, 'HRB-MOBILE-IOS-PHONE-MYBLOCK-FACEID': 48886, 'Mozilla': 105600, 'Puffin': 78584, 'Android Runtime': 76750, 'IRS - TRG19-01Loeim': 64781, 'United States Postal Service - TRG19-01Loeim': 53112, '[FBAN': 48692, 'Carousel': 61285, 'BestBuy': 31284, 'BlackBerry': 51478, 'HRB-MOBILE-IOS-PHONE-MYBLOCK-TOUCHID': 20397, 'M': 86280, 'mozilla': 68544, 'Maxthon': 34706, 'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.16.0': 4008, 'HRB-MOBILE-IOS-PHONE-MYBLOCK': 12586, 'DoximityWebView': 98370, 'Iron': 26263, 'CypressBrowser': 24617, 'Handshake iOS 3.20.0': 1359, 'TotalValidator': 949, 'Konqueror': 17428, 'iPhone': 9887, 'NetFront': 16185, 'Screaming Frog SEO Spider': 1460, 'lua-resty-http': 13037, 'pa11y': 11340, 'ZhihuHybrid DefaultBrowser osee2unifiedRelease': 14816, 'Google-Test2': 10409, 'Amazon.com': 37747, 'deepnoc - https:': 11606, 'candroid': 21602, 'DwSiteChecker': 10971, 'Microsoft Office Word 2014': 16092, '""': 3730, 'Welltory': 1270768, 'bitdiscovery': 809420, 'Emb': 7852, 'Playstation 3': 9654, 'Nintendo Browser': 5829, 'Jetty': 2914, 'User-Agent: Mozilla': 3256, 'Papers': 471, 'newsdayAccessTrue': 110, '{user_agent}': 14768, 'Instagram 196.0.0.21.120': 4326, 'com.doximity.doximitydroid': 7950, '{self.chrome_ua}': 54849, '"Mozilla': 8399, 'WordPress': 2027, 'Handshake iOS 3.21.1': 337, 'Microsoft Office Excel 2014': 1763, 'SiteScoreBot v20210315 - https:': 213, 'Netscape': 1053, 'SmartTraveler.iOS': 148600, 'Instagram 197.0.0.20.119': 4759, 'Handshake iOS 3.22.0': 291, 'BloombergHorseshoe|iOS|14.6|5.51.0|d5881690675e7efa9f186eb0237457890c44e9af': 686, 'Instagram 185.0.0.31.116': 1395, 'ogapp': 667, 'flood-element-test': 5529, 'EAS CSOC': 3280, 'OptimalBot': 379, 'Instagram 198.0.0.27.119': 5178, 'Grailed': 20478, 'Seznam': 232, 'Something Something Netscape Navigator :-)': 552, 'Airbnb': 260, 'WWApp WWMobile': 448, 'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.18.0': 17397, 'Phantom.js bot': 585, 'Podcasts': 494, 'ADPTablet': 1882, '<fake_useragent.fake.FakeUserAgent object at 0x000000A65E27BEC8>': 15250, 'HackerOne': 261, 'nu.nl': 122, '<fake_useragent.fake.FakeUserAgent object at 0x000000835A430248>': 38725, '<fake_useragent.fake.FakeUserAgent object at 0x000000A22EC30088>': 129840, '<fake_useragent.fake.FakeUserAgent object at 0x000000A490F15FC8>': 5069, 'Sparkle': 64228, 'Bluebeam Revu Browser - cef version: 57.0.0.0': 212, 'Wget': 102, 'Handshake iOS 3.25.1': 526, 'BloombergHorseshoe|iOS|14.7.1|5.53.0|81011f9a2d66a5ad2e997acc7891e52e47552da8': 240, 'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.19.0': 11249, 'Handshake iOS 3.26.0': 1053, 'Instagram 201.0.0.23.111': 321, 'Dalton Consulting A.Carrion@memphis.edu': 461, 'Instagram 153.0.0.26.73': 1888, 'Handshake iOS 3.26.1': 942, 'Instagram 202.0.0.23.119': 5829, 'android': 355, 'Charlotte: The Financial Institution Crawler - 2000ms of politeness': 112, 'Walgreens': 13821, 'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.20.0': 14786, 'Handshake iOS 4.0.0': 1421, 'Default': 108, 'Instagram 193.0.0.29.121': 4211, 'Instagram 203.0.0.26.117': 6312, 'Lawfully': 6232, 'casper': 161, 'Instagram 199.0.0.27.120': 867, 'Instagram 200.1.0.20.118': 3490, 'Instagram 166.1.0.41.241': 116, 'Type user agent here': 105, 'Handshake iOS 4.1.0': 501, 'Unemployed dominicdones@gmail.com': 1555, 'SiteAnalyzerbot': 194, 'Instagram 204.0.0.16.119': 2498, 'Handshake iOS 4.2.0': 406, 'Instagram 205.0.0.20.115': 2015, 'Arachnys techteam@arachnys.com': 355, 'Handshake iOS 4.3.0': 2248, 'Instagram 191.0.0.25.122': 705, 'BrowserNG': 106, 'Instagram 206.1.0.30.118': 2072, 'Instagram 207.0.0.28.118': 2740, 'user_agent': 116, 'Handshake iOS 4.4.0': 587}}

taken_at : 2021-10-05T10:00:34.048Z

#### 4. Print out the results as a dataframe 
<i/> Hint: use pandas from_dict method

The index should be the browsers, and the column should be the number of visits

In [23]:
results['totals']

{'visits': 5220257397,
 'browser': {'Chrome': 2525542851,
  'Safari': 1868359206,
  'Edge': 309021773,
  'Firefox': 152347280,
  'Samsung Internet': 112892684,
  'Internet Explorer': 79151679,
  'Safari (in-app)': 70607293,
  'Android Webview': 55374793,
  'Opera': 16425807,
  'Amazon Silk': 9737738,
  'Mercari_d': 4876124,
  'UC Browser': 1972952,
  'Mozilla Compatible Agent': 1979588,
  'Opera Mini': 1049616,
  'TE_IEP': 1159784,
  'YaBrowser': 3901423,
  'Android Browser': 355077,
  'Coc Coc': 624301,
  'ELB-HealthChecker': 338277,
  '(not set)': 126415,
  'ThousandEyes': 180293,
  'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.17.0': 48009,
  'SeaMonkey': 113229,
  'Voxgov': 112800,
  'HRB-MOBILE-IOS-PHONE-MYBLOCK-FACEID': 48886,
  'Mozilla': 105600,
  'Puffin': 78584,
  'Android Runtime': 76750,
  'IRS - TRG19-01Loeim': 64781,
  'United States Postal Service - TRG19-01Loeim': 53112,
  '[FBAN': 48692,
  'Carousel': 61285,
  'BestBuy': 31284,
  'BlackBerry': 51478,
  'HRB-MOBILE-IOS-PHONE-MYBLOCK-TOUCHID': 20397,
  'M': 86280,
  'mozilla': 68544,
  'Maxthon': 34706,
  'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.16.0': 4008,
  'HRB-MOBILE-IOS-PHONE-MYBLOCK': 12586,
  'DoximityWebView': 98370,
  'Iron': 26263,
  'CypressBrowser': 24617,
  'Handshake iOS 3.20.0': 1359,
  'TotalValidator': 949,
  'Konqueror': 17428,
  'iPhone': 9887,
  'NetFront': 16185,
  'Screaming Frog SEO Spider': 1460,
  'lua-resty-http': 13037,
  'pa11y': 11340,
  'ZhihuHybrid DefaultBrowser osee2unifiedRelease': 14816,
  'Google-Test2': 10409,
  'Amazon.com': 37747,
  'deepnoc - https:': 11606,
  'candroid': 21602,
  'DwSiteChecker': 10971,
  'Microsoft Office Word 2014': 16092,
  '""': 3730,
  'Welltory': 1270768,
  'bitdiscovery': 809420,
  'Emb': 7852,
  'Playstation 3': 9654,
  'Nintendo Browser': 5829,
  'Jetty': 2914,
  'User-Agent: Mozilla': 3256,
  'Papers': 471,
  'newsdayAccessTrue': 110,
  '{user_agent}': 14768,
  'Instagram 196.0.0.21.120': 4326,
  'com.doximity.doximitydroid': 7950,
  '{self.chrome_ua}': 54849,
  '"Mozilla': 8399,
  'WordPress': 2027,
  'Handshake iOS 3.21.1': 337,
  'Microsoft Office Excel 2014': 1763,
  'SiteScoreBot v20210315 - https:': 213,
  'Netscape': 1053,
  'SmartTraveler.iOS': 148600,
  'Instagram 197.0.0.20.119': 4759,
  'Handshake iOS 3.22.0': 291,
  'BloombergHorseshoe|iOS|14.6|5.51.0|d5881690675e7efa9f186eb0237457890c44e9af': 686,
  'Instagram 185.0.0.31.116': 1395,
  'ogapp': 667,
  'flood-element-test': 5529,
  'EAS CSOC': 3280,
  'OptimalBot': 379,
  'Instagram 198.0.0.27.119': 5178,
  'Grailed': 20478,
  'Seznam': 232,
  'Something Something Netscape Navigator :-)': 552,
  'Airbnb': 260,
  'WWApp WWMobile': 448,
  'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.18.0': 17397,
  'Phantom.js bot': 585,
  'Podcasts': 494,
  'ADPTablet': 1882,
  '<fake_useragent.fake.FakeUserAgent object at 0x000000A65E27BEC8>': 15250,
  'HackerOne': 261,
  'nu.nl': 122,
  '<fake_useragent.fake.FakeUserAgent object at 0x000000835A430248>': 38725,
  '<fake_useragent.fake.FakeUserAgent object at 0x000000A22EC30088>': 129840,
  '<fake_useragent.fake.FakeUserAgent object at 0x000000A490F15FC8>': 5069,
  'Sparkle': 64228,
  'Bluebeam Revu Browser - cef version: 57.0.0.0': 212,
  'Wget': 102,
  'Handshake iOS 3.25.1': 526,
  'BloombergHorseshoe|iOS|14.7.1|5.53.0|81011f9a2d66a5ad2e997acc7891e52e47552da8': 240,
  'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.19.0': 11249,
  'Handshake iOS 3.26.0': 1053,
  'Instagram 201.0.0.23.111': 321,
  'Dalton Consulting A.Carrion@memphis.edu': 461,
  'Instagram 153.0.0.26.73': 1888,
  'Handshake iOS 3.26.1': 942,
  'Instagram 202.0.0.23.119': 5829,
  'android': 355,
  'Charlotte: The Financial Institution Crawler - 2000ms of politeness': 112,
  'Walgreens': 13821,
  'HRB-MOBILE-ANDROID-PHONE-MYBLOCK-v9.20.0': 14786,
  'Handshake iOS 4.0.0': 1421,
  'Default': 108,
  'Instagram 193.0.0.29.121': 4211,
  'Instagram 203.0.0.26.117': 6312,
  'Lawfully': 6232,
  'casper': 161,
  'Instagram 199.0.0.27.120': 867,
  'Instagram 200.1.0.20.118': 3490,
  'Instagram 166.1.0.41.241': 116,
  'Type user agent here': 105,
  'Handshake iOS 4.1.0': 501,
  'Unemployed dominicdones@gmail.com': 1555,
  'SiteAnalyzerbot': 194,
  'Instagram 204.0.0.16.119': 2498,
  'Handshake iOS 4.2.0': 406,
  'Instagram 205.0.0.20.115': 2015,
  'Arachnys techteam@arachnys.com': 355,
  'Handshake iOS 4.3.0': 2248,
  'Instagram 191.0.0.25.122': 705,
  'BrowserNG': 106,
  'Instagram 206.1.0.30.118': 2072,
  'Instagram 207.0.0.28.118': 2740,
  'user_agent': 116,
  'Handshake iOS 4.4.0': 587}}

In [24]:
data = results['totals']['browser']

In [25]:
df=pd.DataFrame.from_dict(data, orient='index', columns=['visits'])

In [26]:
df.head()

                      visits
Chrome            2525542851
Safari            1868359206
Edge               309021773
Firefox            152347280
Samsung Internet   112892684

____